<div class="form-row align-items-center">
  <div class="col-auto" *ngIf="!isLoggedIn">
    <input class="form-control" type="text" [(ngModel)]="name" placeholder="{{ 'fields.login.name' | translate }}" />
  </div>
  <div class="col-auto" *ngIf="!isLoggedIn">
    <input class="form-control" type="password" [(ngModel)]="password" placeholder="{{ 'fields.login.password' | translate }}" />
  </div>
  <!--
  <div class="col-auto">
    <input class="form-control" type="time" min="00:00" max="23:59" [(ngModel)]="sessionLifetime" />
  </div>
  -->
  <div class="col-auto" *ngIf="!isLoggedIn && !isSigningUp">
    <button class="form-control btn btn-success" (click)="login()">{{ "commands.login.login" | translate }}</button>
  </div>
  <div class="col-auto" *ngIf="!isLoggedIn && !isSigningUp">
    <a class="text text-light" (click)="startCreating()">{{ "commands.login.signup" | translate }}</a>
  </div>
  <div class="col-auto" *ngIf="!isLoggedIn && isSigningUp">
    <button class="form-control btn btn-success" (click)="signup()">{{ "commands.common.ok" | translate }}</button>
  </div>
  <div class="col-auto" *ngIf="!isLoggedIn && isSigningUp">
    <button class="form-control btn btn-danger" (click)="cancelCreating()">{{ "commands.common.cancel" | translate }}</button>
  </div>
  <div class="col-auto" *ngIf="isLoggedIn">
    <span class="form-control btn btn-light" disabled [innerHTML]="'fields.login.loggedin-name' | translate: {value: name}"></span>
  </div>
  <div class="col-auto" *ngIf="isLoggedIn">
    <button class="form-control btn btn-danger" value="Logout" (click)="logout()">{{ "commands.login.logout" | translate }}</button>
  </div>
</div>

<div class="row">
  <app-error-message class="col-auto" [error]="error" [addclass]="'text-right'"></app-error-message>
</div>
