<div class="card">
  <div class="card-body">

    <div class="jumbotron">
      <h1 class="display-4">Welcome to Crypto !</h1>
      <div>
      This is a very simple social network that respects totally your privacy :
      </div>
      <ul>
        <li>
          All data (except your name) are encrypted with
          <a href="https://fr.wikipedia.org/wiki/Advanced_Encryption_Standard" class="text-primary">AES algorithm</a>
          before they are sent over the network, and decrypted before they are displayed,
          using the key that you provide in the top left corner.
        </li>
        <li>
          No personal information is never asked : no email address, no phone number...
          You just sign up with a login and a password, and an optional location.
          Your session expires after the duration that you specified.
        </li>
      </ul>
      <div class="mt-2">
        When you use Crypto, you are the only responsible of your encryption key :
        tell it to trusted people only, and only the people that know it
        will ever be able to read your communications.
      </div>
      <h4 class="mt-2">
        <a routerLink="/categories" routerLinkActive="active">Browse categories</a>
      </h4>
      <div>
        <h6>Coming soon :</h6>
        <ul>
          <li>Images in article and comments</li>
          <li>Filter of encrypted data</li>
          <li>User list</li>
          <li>ACL based security for reading/writing categories, articles, comments, reacts</li>
          <li>Lists for home page : last commented/reacted posts, bookmarks, notifications...</li>
          <li>Customizable home page ?</li>
        </ul>
      </div>
    </div>

  </div>
</div>
