<div class="row" *ngIf="!isLoggedIn && !isSigningIn">
  <div class="col">
    <input type="text" [(ngModel)]="name" placeholder="name">
  </div>
  <div class="col">
    <input type="password" [(ngModel)]="password" placeholder="password">
  </div>
  <div class="col">
    <button (click)="login()">Login</button>
  </div>
  <div class="col">
    <a (click)="startCreating()">Create account</a>
  </div>
</div>

<div class="row" *ngIf="isSigningIn">
  <div class="col">
    <input type="text" [(ngModel)]="name" placeholder="name">
  </div>
  <div class="col">
    <input type="password" [(ngModel)]="password" placeholder="password">
  </div>
  <div class="col">
    <input type="text" [(ngModel)]="location" placeholder="location">
  </div>
  <div class="col">
    <button (click)="create()">Sign in</button>
  </div>
  <div class="col">
    <a (click)="cancelCreating()">Cancel</a>
  </div>
</div>

<div class="row" *ngIf="isLoggedIn">
  <div class="col">
    {{ decName }} ({{ decLocation }})
  </div>
  <div class="col">
    <button value="Logout" (click)="logout()"></button>
  </div>
</div>