<div class="card">
  <div class="card-header">
    <h4>Articles</h4>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-12">
        <app-pager [pageSize]="10" [containerClass]="list-group"
                   [getMethod]="getListMethod">
          <ng-template let-item="item">
            <a class="list-group-item list-group-item-action list-group-item-secondary mb-1" href="javascript:void()" (click)="open(item.id)">
              <div class="row">
                <div class="col">
                  <h5 [innerHTML]="item.title | decrypt"></h5>
                </div>
              </div>
              <div class="row">
                <p class="col-12 text-secondary">
                  Todo...
                </p>
              </div>
            </a>
          </ng-template>
        </app-pager>
      </div>
      
    </div>
    <div class="row">
      <div class="col-3 col-lg-2 col-xl-1">
        <button class="form-control btn btn-success" (click)="create()">Create</button>
      </div>
    </div>
  </div>
</div>
