<div class="form-row">
  <div class="col-auto" *ngIf="edit">
    <input class="form-control" type="text" placeholder="{{ 'fields.crypto.key' | translate }}" [(ngModel)]="key" />
  </div>
  <div class="col-auto" *ngIf="!edit">
    <button class="form-control btn btn-warning" (click)="change()">{{ "commands.crypto.change" | translate }}</button>
  </div>
  <div class="col-auto" *ngIf="!edit && hasKey">
    <button class="form-control btn btn-danger" (click)="clear()">{{ "commands.crypto.clear" | translate }}</button>
  </div>
  <div class="col-auto" *ngIf="edit">
    <button class="form-control btn btn-success" (click)="submit()">{{ "commands.common.ok" | translate }}</button>
  </div>
  <div class="col-auto" *ngIf="edit && hasKey">
    <button class="form-control btn btn-danger" (click)="cancel()">{{ "commands.common.cancel" | translate }}</button>
  </div>
</div>

<div class="row">
  <app-error-message class="col-12" [error]="error"></app-error-message>
</div>
