<div *ngIf="comments && comments.items">
  <div class="row" *ngIf="comments && comments.totalCount > comments.count">
    <div class="col-12">
      <a href="javascript:void(0)" class="text-primary" (click)="getForArticle(50, 1)">Show previous comments</a>
    </div>
  </div>
  <div class="list-group-item mt-1 p-0 pt-1 pb-2"
       *ngFor="let comment of comments.items">
    <div class="col-12">
      <div class="row">
        <div class="col-12">
          <app-comment [comment]="comment" (reply)="comment.isWriting = true"></app-comment>
        </div>
      </div>
      <div>
        <div class="row justify-content-end" *ngIf="comment.children">
          <div class="col-12">
            <div class="row" *ngIf="comment.children.totalCount > comment.children.count">
              <div class="col-12">
                <a href="javascript:void(0)" class="text-primary" (click)="getForComment(comment, 50)">Show previous replies</a>
              </div>
            </div>
            <div class="list-group-item mt-1 p-0 pt-1 pb-2"
               *ngFor="let subComment of comment.children.items">
              <div class="col-12">
                <app-comment [comment]="subComment"></app-comment>
              </div>
            </div>
            <div class="row mt-2" *ngIf="comment.isWriting">
              <div class="col-12">
                <div class="form-group">
                  <textarea class="form-control" rows="3" [(ngModel)]="comment.newCommentText"></textarea>
                </div>
              </div>
              <div class="col-auto">
                <div class="form-group">
                  <button class="btn btn-success form-control" (click)="newSubComment(comment)">Post</button>
                </div>
              </div>
              <div class="col-auto">
                <a href="javascript:void(0)" class="text-primary" (click)="comment.isWriting = false">Close</a>
              </div>
              <app-error-message class="col-auto" [error]="comment.error"></app-error-message>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4" *ngIf="isWriting">
    <div class="col-12">
      <div class="form-group">
        <textarea class="form-control" rows="3" [(ngModel)]="newCommentText"></textarea>
      </div>
    </div>
    <div class="col-auto">
      <div class="form-group">
        <button class="btn btn-success form-control" (click)="newComment()">Post</button>
      </div>
    </div>
    <div class="col-auto">
      <a href="javascript:void(0)" class="text-primary" (click)="isWriting = false">Close</a>
    </div>
    <app-error-message class="col-auto" [error]="error"></app-error-message>
  </div>
  <div class="row mt-4" *ngIf="!isWriting">
    <div class="col-auto">
      <a href="javascript:void(0)" class="text-primary" (click)="isWriting = true">Comment</a>
    </div>
  </div>
</div>
