<div class="row">
  <div class="col-12">
    <a href="javascript:void(0)" class="text-primary" (click)="getForArticle()">Show previous comments</a>
  </div>
</div>
<div class="row" *ngFor="let comment of comments">
  <div class="col-12">
    <div class="row">
      <div class="col-12">
        <app-comment [comment]="comment"></app-comment>
      </div>
    </div>
    <div class="row justify-content-right">
      <div class="col-md-11 col-10">
        <div class="row">
          <div class="col-12">
            <a href="javascript:void(0)" class="text-primary" (click)="getForComment(comment)">Show previous comments</a>
          </div>
        </div>
        <div class="row" *ngFor="let subComment of comment.children">
          <div class="col-12">
            <app-comment [comment]="subComment"></app-comment>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="form-group">
      <textarea class="form-control" rows="3" [(ngModel)]=""></textarea>
      <button class="btn btn-success" (click)="newComment()">Post</button>
    </div>
  </div>
</div>
