<div class="card">
  <div class="card-header">
    <h4>Category list</h4>
  </div>
  <div class="card-body">
    <ul>
      
      <li *ngFor="let category of categoryList">

        <div class="row">
          <app-category class="col-12" [category]="category" (categoryClick)="openParent(category)"></app-category>
        </div>

        <div class="row" *ngIf="category.isOpened">
          <div class="col-12">
            <ul>

              <li *ngFor="let subCategory of category.children">
                <app-category [category]="subCategory" (categoryClick)="openChild(subCategory.id)"></app-category>
              </li>

              <li *ngIf="isLoggedIn && isDecrypted(category.name)" style="list-style-type: none">

                <div class="row" *ngIf="!category.isWriting">
                  <div class="col-auto">
                    <a href="javascript:void(0)" class="text-primary font-weight-bold" (click)="category.isWriting = true">Create</a>
                  </div>
                </div>

                <div class="form-row align-items-middle" *ngIf="category.isWriting">
                  <div class="col-auto">
                    <input type="text" class="form-control" [(ngModel)]="category.newText" />
                  </div>
                  <div class="col-auto">
                    <button class="btn btn-success form-control" (click)="createChild(category)">Create</button>
                  </div>
                  <div class="col-auto">
                    <button class="btn btn-danger form-control" (click)="category.isWriting = false">Cancel</button>
                  </div>
                  <app-error-message class="col-auto" [error]="category.error"></app-error-message>
                </div>

              </li>
            </ul>
          </div>
        </div>

      </li>

      <li *ngIf="isLoggedIn && hasKey" style="list-style-type: none">

        <div class="row" *ngIf="!isWriting">
          <div class="col-auto">
            <a href="javascript:void(0)" class="text-primary font-weight-bold" (click)="isWriting = true">Create</a>
          </div>
        </div>

        <div class="form-row align-items-middle" *ngIf="isWriting">
          <div class="col-auto">
            <input type="text" class="form-control" [(ngModel)]="newCategoryName" />
          </div>
          <div class="col-auto">
            <button class="btn btn-success form-control" (click)="createParent()">Create</button>
          </div>
          <div class="col-auto">
            <button class="btn btn-danger form-control" (click)="isWriting = false">Cancel</button>
          </div>
          <app-error-message class="col-auto" [error]="categoryError"></app-error-message>
        </div>
      </li>

    </ul>
  </div>
</div>
